.el-popover {
  // box-shadow: none;
  // border-radius: 0;
  // transition: opacity 0.08s ease-in-out;
  min-width: auto;
  
  // border: 1px solid #909090;
  // padding: 10px 0px;
  // margin: 5px 0;
  background: #fff;
  // box-shadow: 2px 5px 4px rgba(0,0,0,.16);

  //! 팝오버 내부 아이템
  $btnHPadding: 15px;
  $btnVPadding: 7px;
  .button-item {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    width: 100%;
    color: #666 !important;
    padding: $btnVPadding 0 $btnVPadding $btnHPadding !important;
    margin: 0 !important;
    outline: none;
    border-radius: 0 !important;
    
    &:hover,
    &:active,
    &:focus,
    &.filter-bg {
      background: #eff4fc !important;
    }

    // prefix 아이콘
    .icon {
      width: 26px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin-right: 6px;
    }
  }
  // 구분선
  .spacer {
    border-top: solid 1px #d6d6d6;
    margin: 5px $btnHPadding;
    &.full {
      margin: 5px 0;
    }
  }

  // 툴팁 레이어 형식
  &.tooltip-popover {
    background: #fff;
    border: 1px solid #dadce0;
    padding: 12px 14px;
    font-size: 13px;
    transition: none;
    line-height: 1.3;
    letter-spacing: -0.5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.16);
  }
}

//! 팝오버 토글 버튼
// 기본(상하 화살표)
.popover-button {
  display: inline-flex;
  align-items: center;
  color: $primary-color;
  margin-left: 0;
  outline: none;

  .label {
    vertical-align: middle;
    margin-right: 4px;
    font-size: 15px;
  }

  .bullet {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    &.active {
      background: #e1e4e6;
    }

    i {
      display: block;
      font-size: 12px;
    }
  }

  &:hover,
  &:focus {
    color: $primary-color-hover;
    outline: none;
  }
}

// 멤버(사람 아이콘) 버튼
.popover-member-button {
  width: auto !important;
  height: auto !important;
  border: 1px solid #d6d6d6 !important;
  padding: 3px 10px 3px 12px !important;
  border-radius: 16px !important;
  color: #909090;

  &.active {
    background: #e2e4e6;
    border-color: #d6d6d6;
    color: #575757;
  }

  &:hover {
    background: #e2e4e6;
  }

  &:focus {
    background: #e2e4e6;
    border-color: #d6d6d6;
    color: #575757;
    outline: none;
  }
}

// 환경설정 버튼(톱니바퀴)
.popover-setting-button {
  border: 1px solid #d6d6d6;
  padding: 0px;
  border-radius: 16px;
  color: #909090;
  width: 30px;
  height: 30px;

  &.active {
    background: #e2e4e6;
    border-color: #d6d6d6;
    color: #575757;
  }

  &:hover {
    background: #e2e4e6;
  }

  &:focus {
    background: #e2e4e6;
    border-color: #d6d6d6;
    color: #575757;
    outline: none;
  }
}

// 드롭다운 모양
.popover-button-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 300px;
  padding: 0 0 0 10px;
  height: 34px;
  border: 1px solid #d6d6d6;
  font-size: 14px;
  color: #333;


  .label {
    width: 100%;
    @include truncate(100%);
  }

  i {
    margin-right: 10px;
    font-size: 20px;
    color: #999;
  }
  .fa-angle-down {
    transform: rotate(0deg);
    transition: transform .3s;
    &.reverse {
      transform: rotate(-180deg);
    }
  }

  &:hover {
    border-color: #c0c4cc;
  }
}

// 툴팁 팝오버 아이콘
.tooltip-popover-icon {
  color: #909090;
  outline: 0;

  &:hover,
  &:focus,
  &:active {
    color: #333;
  }
}
