.el-tooltip__popper {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
  transition: 0s;
  max-width: 250px;
  
  //left: -1000px;
  //customize
  &.is-dark {
    background: #575757;
    .popper__arrow {
      &:after {
        border-bottom-color: #575757;
      }
    }
  }



}

$tooltip-color: #333;
.tooltip {
  z-index: 2500;
  .arrow {
    margin-top: 4px;
  }
  .tooltip-inner {
    background: $tooltip-color;
    font-size: 11px;
    margin-top: 3px;
  }
  &.show {
    opacity: 1;
  }
  &.bs-tooltip-top .arrow:before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: $tooltip-color;
  }
  &.bs-tooltip-bottom .arrow:before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: $tooltip-color;
  }

  // only sidebar 가이드 문구 툴팁
  &.bs-tooltip-right {
    .arrow:before {
      display: none;
    }
    .tooltip-inner {
      border-radius: 0;
      background: #575757;
      font-size: 12px;
      text-align: left;
      padding: 12px;
      margin-left: -10px;
    }
  }
  &.bs-tooltip-left .arrow:before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: $tooltip-color;
  }
}
